* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1E2538;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 150px;
}

nav > ul > li > a {
    font-size: 17px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    margin: 0px 20px 0 20px;
}

ul {
    display: flex;
    list-style-type: none;
}

button {
    width: 138px;
    height: 53px;
    color: #ffffff;
    font-weight: bold;
    font-size: 17px;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 rgba(72, 113, 255, 0.8);
    background: #3657cb;
    border: none;
    margin-left: 12px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
}

h1 {
    font-size: 65px;
    color: #ffffff;
    margin-right: 20px;
}

.white {
    background-color: #ffffff;
    width: 52px;
    height: 1px;
    margin: 0 55px;
}

p {
    margin: 0px 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    color: black;
}

.content {
    display: flex;
    flex-direction: column;
}

.content__cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 64px;
    gap: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 340px;
}

.card__image {
    width: 100%;
    height: 100%;
} 

.card__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #ffffff;
    margin-top: 12px;
}

.card__link {
    color: #000;
    text-decoration: none;
}

.name {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.genre {
    font-size: 15px;
    padding-top: 4px;
    color: #F2F60F;
}